@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-size: 14px;
    background-image: linear-gradient(0deg, rgba(0,36,211,1) 35%, rgba(0,169,235,1) 100%);
    background-color: rgba(0,36,211,1);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}

.main-body{
    display: flex;
}

header{
    position: absolute;
    width: 100%;
    min-height: 60px;
    max-height: 75px;
    background: rgba(0,36,211,1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header #BPA-newlogo{
    max-width: 225px;
    height: auto;
    padding: 0;
    filter:invert(98%);
}

header ul{
    position: relative;
}

header ul li{
    position: relative;
    list-style: none;
    float: left;
}

header ul li a{
    color: #ffffff;
    font-size: 1.1em;
    padding: 20px 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

header ul li a:hover{
    background-color: rgba(0,36,211,1);
    position: relative;
}

header ul li ul{
    position: absolute;
    left: 0;
    width: 150px;
    background-color: rgb(11, 28, 114);
    display: none;
}

header ul li:hover ul{
    display: block;
    z-index: 1;
}

header ul li ul li{
    position: relative;
    width: 100%;
    border: 1px solid rgb(6, 19, 83);
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}
.user img{
    max-width: 100px;
}
.user #avatar{
    max-width: 45px;
    border-radius: 50%;
}

/* main div */

.main-div{
    padding: 16px 32px 8px 32px;
    border-radius: 15px;
    height: fit-content;
    max-width: 850px;
    margin: auto;

    position: absolute;
    top: 15%;
    left: 25%;
    right: 25%;
    display: flex;
    flex-direction: column;

    background-color: white;
    -webkit-box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.17); 
    box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.17);
}

.main-div img{
    align-self: center;
    max-width: 450px;
    height: auto;
}

h1 {
    align-self: center;
    margin: 0;
}
h3{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px;
}

#footer{
    font-size: 11px;
    align-self: center;
    justify-content: flex-end;
    margin: 4px 0 0 0;
    padding: 2px;
}

.color-wrap{
    display: flex;
    gap: 8px;
    padding-top: 16px;
    flex-wrap: wrap;
}

#blue > p, #red > p, #yellow > p, #orange > p, #cyan > p, #green > p{
    max-width: 225px;
    margin: 0;
    font-weight: 400;
}

#blue{
    background-color: #00A9EB;
}
#red{
    background-color: #F06473;
}
#yellow{
    background-color: #FED34C;
}
#orange{
    background-color: #F58C35;
}
#cyan{
    background-color: #00A8BF;
}
#green{
    background-color: #00B48F;
}

#blue, #red, #yellow, #orange, #cyan, #green{
    width: 250px;
    height: 150px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.17); 
    box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.17);
}

#blue:hover, #red:hover, #yellow:hover, #orange:hover, #cyan:hover, #green:hover{
    width: 251px;
    height: 151px;
    -webkit-box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.26); 
box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.26);
}

a:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}
