@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* main */
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

body{
    font-family: 'Open Sans';
    font-size: 14px;
    background: rgb(0,36,211);
    background: linear-gradient(0deg, rgba(0,36,211,1) 35%, rgba(0,169,235,1) 100%);
    display: flex;
}

.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* top navegation */
.top-nav{
    margin-top: 0;
    background-color: rgba(0,36,211,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 70px;
    font-size: 15px;
}

#BPA-newlogo{
    filter: invert(100%);
    max-width: 225px;
    padding: 0;
    margin: 0;
}

#avatar{
    max-width: 45px;
    border-radius: 50%;
    vertical-align: middle;
    border: solid 1px #00A9EB;
}
#forvia-logo{
    max-width: 125px;
    vertical-align: middle;
}
#checkdown{
    vertical-align: middle;
    filter: invert(100%);
}

.select-wrap{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    color: white;
    gap: 16px;
}

.select-wrap a{
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}

.select-wrap img{
    filter: invert(100%);
    vertical-align: middle;
}


/* main div */
.main-div{
    background-color: white;
    padding: 16px 32px 0 32px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: fit-content;
    max-width: 900px;
    scale: 90%;
}

.main-div img{
    align-self: center;
    max-width: 450px;
    height: auto;
}

h1 {
    align-self: center;
    margin: 0;
}

#footer{
    font-size: 11px;
    align-self: center;
    justify-content: flex-end;
}

.color-wrap{
    display: flex;
    gap: 8px;
    padding-top: 16px;
    flex-wrap: wrap;
}

#blue{
    background-color: #00A9EB;
}
#red{
    background-color: #F06473;
}
#yellow{
    background-color: #FED34C;
}
#orange{
    background-color: #F58C35;
}
#cyan{
    background-color: #00A8BF;
}
#green{
    background-color: #00B48F;
}

#blue, #red, #yellow, #orange, #cyan, #green{
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    border-radius: 10px;
}

a:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}