@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* main */
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

body{
    font-family: 'Open Sans';
    font-size: 14px;
    background-color: white;
    display: flex;
}

.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* top navegation */
.top-nav{
    margin-top: 0;
    background-color: rgba(0,36,211,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 70px;
    font-size: 15px;
}

#BPA-newlogo{
    filter: invert(100%);
    max-width: 225px;
    padding: 0;
    margin: 0;
}

#avatar{
    max-width: 45px;
    border-radius: 50%;
    vertical-align: middle;
    border: solid 1px #00A9EB;
}
#forvia-logo{
    max-width: 125px;
    vertical-align: middle;
}
#checkdown{
    vertical-align: middle;
    filter: invert(100%);
}

.select-wrap{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    color: white;
    gap: 16px;
}

.select-wrap a{
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}

.select-wrap img{
    filter: invert(100%);
    vertical-align: middle;
}


/* main div */
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer{
    font-size: 11px;
    align-self: center;
    justify-content: flex-end;
    padding: 16px;
}

/*error*/

h1 {
    align-self: center;
    margin: 0;
    font-size: 40px;
}

p{
    align-self: center;
    font-size: 22px;
}

#BPA_OldLogo{
    max-width: 250px;
    align-self: center;
    padding: 8px;
}

button{
    background-color: rgba(0,36,211,1);
    border: none;
    color: white;
    align-self: center;
    width: 425px;
    height: 50px;
    border-radius: 20px;
    flex: 1 1 auto;
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}